{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load fontawesome %}

{% block content %}
<div class="row text-center bg-secondary">
    <div class="col-sm-12">
        <div class="login-title">
            <h2 class="text-white">Create User</h2>
        </div>
    </div>
</div>
<table id="users" class="table table-striped table-bordered" width="100%"></table>
<script type="application/javascript">
    let dataSet = {{users|safe}}

    $(document).ready(function () {
        $('#users').DataTable({
            data: dataSet,
            columns: [
                { title: "Username" },
                { title: "Email" },
                { title: "First Name" },
                { title: "Last Name" },
            ],
            "render": function ( ) {
                return `<a class="btn btn-primary">View</a>`},
        });
    });
</script>
{% endblock %}