{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load fontawesome %}

{% block content %}
<div class="row text-center bg-secondary">
    <div class="col-sm-12">
        <div class="login-title">
            <h2 class="text-white">refugees</h2>
        </div>
    </div>
</div>
<table id="refugees" class="table table-striped table-bordered" width="100%">
    <thead>
        <tr>
            <th>model</th>
        </tr>
    </thead>
</table>
{% comment %} <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.4/fuse.min.js"></script> {% endcomment %}
<script type="application/javascript">
    let data = {{recipient | safe}}

    $(document).ready(function () {
        $('#refugees').DataTable({
            data: data,
            "columns": [
                { "data": "fields.first_name" },
        ]
        });
    })

    console.log(JSON.stringify(data))

    {% comment %} const options = {
            shouldSort: true,
            threshold: 0.6,
            location: 0,
            distance: 100,
            maxPatternLength: 32,
            minMatchCharLength: 1,
            keys: [
                "fields.city",
                "fields.demographic_info",
                "fields.emergency_contact",
                "fields.ethnicity",
                "fields.first_name",
                "fields.gender",
                "fields.last_name",
                "fields.martial_status",
                "fields.middle_name",
                "fields.phone_number",
                "fields.street_name",
                "fields.street_number",
                "fields.zip_code",
            ]
        }; {% endcomment %}

{% comment %}     
    $('#searchTextbox').each(function () {
        var elem = $(this);

        // Save current value of element
        elem.data('oldVal', elem.val());

        // Look for changes in the value
        elem.bind("propertychange change click keyup input paste", function (event) {
            // If value has changed...
            if (elem.data('oldVal') != elem.val()) {
                // Updated stored value
                elem.data('oldVal', elem.val());

                // Do action
                var result = fuse.search(elem.val());
                document.getElementById('result').value = JSON.stringify(result)
                console.log(result) 
            }
        });
    }); {% endcomment %}

   
   
    {% comment %} $(document).ready(function () {
        let table = $('#refugees').DataTable({
            data: dataSet,
            columns: [{
                    title: "first_name"
                },
                {
                    title: "middle_name"
                },
                {
                    title: "last_name"
                },
                {
                    title: "gender"
                },
                {
                    title: "age"
                },
            ],
        });
        $('#refugees tbody').on('click', 'td', function () {
            let idx = table.cell(this).index().row;
            var id = table.row(idx).data()[9]
            window.location.href = `/admin/edit_recipients/${id}/`;
        }); {% endcomment %}
  
</script>
{% endblock %}