{% extends 'base.html' %}
{% load rest_framework %}
{% load fontawesome %}

{% block title %}Users{% endblock %}

{% block content %}
<div class="row text-center bg-secondary">
    <div class="col-sm-12">
        <div class="login-title">
            <h2 class="text-white">Users</h2>
        </div>
    </div>
</div>

<html><body>

<h1>Delete User- {{user.username}}</h1>
<u1>Are you sure you want to delete this user?</u1>
<form action="{% url 'delete_user' user.username %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes">
</form>
<form action="{% url 'user_list' %}">
    {% csrf_token %}
    <input type="submit" value="No">
</form>
</body></html>
{% endblock %}