{% extends 'base.html' %}
{% load rest_framework %}
{% load fontawesome %}

{% block title %}Users{% endblock %}

{% block content %}

    <h1>Delete User- {{user.username}}</h1>
    <p>Are you sure you want to delete this user?</p>
    <div class="row">
        <form action="{% url 'delete_user' user.username %}" method="POST" class="col">
            {% csrf_token %}
            <input type="submit" value="Yes">
        </form>
        <br>
        <form action="{% url 'user_list' %}" class="col">
            {% csrf_token %}
            <input type="submit" value="No">
        </form>
    </div>

{% endblock %}