{% extends 'base.html' %}
{% load rest_framework %}
{% load fontawesome %}

{% block title %}Users{% endblock %}

{% block content %}
<div class="row text-center bg-secondary">
    <div class="col-sm-12">
        <div class="login-title">
            <h2 class="text-white">Users</h2>
        </div>
    </div>
</div>

<html><body>

<h1>New User</h1>

<form action="{% url 'new_user' %}" method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="submit" value="Save">
</form>
</body></html>
{% endblock %}