{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load fontawesome %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row login-form">
  <div class="col-sm-6 offset-sm-3 text-center">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <div class="text-primary login-text">
      <a href="#">Create New Account</a>
      &emsp;
      <a href="#">Forgot Password? Click Here.</a>
    </div>
  </div>
</div>
{% endblock %}