{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load fontawesome %}

{% block title %}User List{% endblock %}

{% block content %}
<div class="dashboard">
        <table id="users" class="table table-striped table-bordered clickable-row" width="100%"></table>
</div>

<script type="application/javascript">
    let dataSet = {{users|safe}}

    $(document).ready(function () {
        var table = $('#users').DataTable({
            data: dataSet,
            columns: [
                { title: "Username" },
                { title: "Email" },
                { title: "First Name" },
                { title: "Last Name" },
            ]
        });

        $('#users tbody').on( 'click', 'td', function () {
            let idx = table.cell(this).index().row;
            var username = table.row( idx ).data()[0]
            window.location.href = `/accounts/users/${username}/`;
        });
    });
</script>
{% endblock %}