{% load bootstrap4 %}
{% load static %}
{% load fontawesome %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/speakez.css' %}">
        {% fontawesome_stylesheet %}
    </head>
    <body class="bg-light">
        <div class="container">
            <div class="row bg-white">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4 text-center">
                    <h1 class="text-primary header-title">SpeakEZ</h1>
                </div>
                <div class="col-sm-4">

                </div>
            </div>
            <div class="row bg-primary">
                <div class="col-sm-12 divider">
                
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>