{% extends 'base.html' %}
{% load fontawesome %}
{% load static %}

{% block title %}Audio Messages{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<!-- reuseability? -->
<div class="row text-center bg-secondary">
    <div class="col-sm-12">
        <div class="login-title">
            <h2 class="text-white">Record/edit an Audio Message</h2>
        </div>
    </div>
</div>

<div class="row body">
    <div class="col-sm-12">
    {% if is_update %}
        <audio style="width:50%" controls src="{{ message.audio.url }}" type="audio/wav" id="audio"></audio>
    {% else %}
        <audio style="width:50%" controls autoplay id="audio"></audio>
    {% endif %}
        <div class="row col-sm-6 justify-content-around">
            <button class="col-sm-4 btn btn-primary js-start">{% fontawesome_icon 'microphone' %}</button>
            <button class="col-sm-4 btn btn-primary js-stop" disabled>{% fontawesome_icon 'square' %}</button>
            <button class="col-sm-2 btn btn-primary">{% fontawesome_icon 'circle' %}</button>
        </div>
        <!-- <input id="id_audio" hidden> -->

        <form class="row-no-padding" method="POST" {% if is_update %}
                                action="{% url 'update_message_detail' message.id %}"
                            {% else %}
                                action="{% url 'add_message' %}"
                            {% endif %} 
            enctype="multipart/form-data"> {% csrf_token %}
            <div class="col-sm-4">
                {{ form.category|as_crispy_field }}
                <button type="button" class="btn btn-primary" onclick="add_category()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                {{ form.title|as_crispy_field }}
            </div>
            <div class="col-sm-12">
                {{ form.content|as_crispy_field }}
            </div>
            <input class="btn btn-primary col-sm-2" type="submit">
        </form>
    </div>
</div>

<script>
    function add_category(){
        window.location = `/admin/add_category/`
    }
</script>
<script src="{% static "js/recorder.js" %}"></script>
<script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="{% static "js/message.js" %}"></script>
{% endblock content %}
