{% extends 'base.html' %}
{% load fontawesome %}

{% block title %}View Messages{% endblock %}

{% block content %}

<div class="dashboard" style="min-width: 900px;">
    
{% if messages %}
    <table id="messages" class="table table-striped table-bordered clickable-row" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact</th>
                <th>Audio</th>
                <th>Duration</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
{% else %}
    <p>No messages are available.</p>
{% endif %}

<div class="row" style="display: flex; justify-content: center;">
        <button type="button" name="home" id="home" class="btn btn-primary" style="margin-right: 20px;" onclick="goHome()" btn-lg btn-block">Home</button>
        <button type="button" name="send" id="send" class="btn btn-primary" onclick="goSend()" btn-lg btn-block">Go to Send Page</button>
</div>


</div>
<script type="application/javascript">
    let dataSet = {{messages|safe}}
    console.log(dataSet)

    $(document).ready(function () {
        let table = $('#messages').DataTable({
            data: dataSet,
            columns: [
                {
                    mRender : function ( data, type, row ) { 
                    return `${row.title}`}
                },
                {  
                    mRender : function ( data, type, row ) { 
                    return `${row.category}`}
                },
                {  
                    mRender : function ( data, type, row ) { 
                    return `<audio style="width:100%" controls id="${row.pk}" src='/admin/audio/${row.audio_name}/'>`
                    },
                    width: "45%",
                },
                {  
                    mRender : function ( data, type, row ) { 
                    return `${row.duration} seconds`}
                },
                {  
                    mRender : function ( data, type, row ) { 
                    return `${row.content}`}
                },
                {  
                    mRender : function ( data, type, row ) { 
                    return `<button type="button" name="delete-${row.id}" id="delete-${row.id}" onclick="onDelete('${row.id}')" class="btn btn-primary" btn-lg btn-block">Delete</button>`}
                },
            ]
        });
        $('#messages tbody').on( 'click', 'td', function () {
            let idx = table.cell(this).index().row;
            var id = table.row( idx ).data().id
            window.location.href = `${id}/`;
        });
    });

    function goHome() {
        window.location.href = '/admin/';
    }

    function goSend() {
        window.location.href = '/admin/select_recipients/';
    }

    function onDelete(massage_id) {
        $.ajax({
            type: "POST",
            url: '/admin/delete_messages/',
            data: {
                'id': massage_id,
            },
            success: function(data) {
                window.location.href = '/admin/view_messages';
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                console.log(thrownError)
            },
        });
    }

</script>
{% endblock %}
