{% extends 'base.html' %}
{% load fontawesome %}

{% block title %}View Messages{% endblock %}

{% block content %}
<div class="row text-center bg-secondary">
    <div class="col-sm-12">
        <div class="login-title">
            <h2 class="text-white">View Messages</h2>
        </div>
    </div>
</div>
{% if messages %}
    <table id="messages" class="table table-striped table-bordered" width="100%"></table>
{% else %}
    <p>No messages are available.</p>
{% endif %}
<script type="application/javascript">
    let dataSet = {{messages|safe}}

    $(document).ready(function () {
        let table = $('#messages').DataTable({
            data: dataSet,
            columns: [
                { title: "title" },
                { title: "category" },
                { title: "audio" },
                { title: "duration" },
                { title: "content" },
            ]
        });
        $('#messages tbody').on( 'click', 'td', function () {
            let idx = table.cell(this).index().row;
            var id = table.row( idx ).data()[5]
            window.location.href = `/admin/edit_messages/${id}/`;
        });
    });
</script>
{% endblock %}
