.login-title { 
    margin-left: 15%;
}

.login-text{
    font-size: 1em;
    margin-top: 10px;
}

a:hover{
    text-decoration: none;
}

.header-title {
    margin: 10px;
    font-size: 2em;
}

.login-form{
    margin-top: 15%;
}

.dashboard {
    margin-top: 30px;
}

.section-bubble {
    margin: auto;
    font-size: 1.5em;
}

.title{
    border-bottom: 2px solid blue;
}

.menu-item {
    width: 100%;
    margin: 10px 0px;
    font-size: 1.3em;
}

.body{
    margin: 1em auto;
}

.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.clickable-row > tbody > tr {
    cursor:pointer;
}