{% extends 'base.html' %}
{% load fontawesome %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row justify-content-around no-gutters dashboard">
    <div class="col-3">
        <div class="section-bubble text-white bg-primary">
            {% fontawesome_icon 'envelope' color='white' large=True %}
            <h4 class="title">Messages</h4>
        </div>
        <a href="{% url 'add_message' %}" class="btn btn-primary active menu-item" role="button">Select/Record New Message</a>
        <a href="{% url 'message_list' %}" class="btn btn-primary active menu-item" role="button">Update/Delete Message</a>
    </div>
    <div class="col-3">
        <div class="section-bubble text-white bg-primary">
            {% fontawesome_icon 'users' color='white' large=True %}
            <h4 class="title">Recipients</h4>
        </div>
        <a href="{% url 'select_recipients' %}" class="btn btn-primary active menu-item" role="button">Select Recipients</a>
        <a href="{% url 'edit_recipient' %}" class="btn btn-primary active menu-item" role="button">Add New Recipients</a>
        <a href="{% url 'recipient_list' %}" class="btn btn-primary active menu-item" role="button">Delete/Edit Recipients</a>
    </div>
    <div class="col-3">
        <div class="section-bubble text-white bg-primary">
            {% fontawesome_icon 'clipboard' color='white' large=True %}
            <h4 class="title">Reports</h4>
        </div>
        <a href="{% url 'view_report' %}" class="btn btn-primary active menu-item" role="button">View Reports</a>
    </div>
</div>
{% endblock %}